.reffo-requirements {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
  min-height: 193px;
  margin-bottom: 21px;
  padding: 10px 16px;
  gap: 22px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 4PX 4PX 12PX rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10.4PX);
  backdrop-filter: blur(10.4PX);

  &__quote {
    display: block;
    flex: none;
    width: 28px;
    height: 19px;
  }

  &__text {
    display: block;
    width: 100%;
    color: #000000;
    font-family: 'PingFang SC', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    overflow-wrap: anywhere;
    hanging-punctuation: first last;
  }
}
